BP1P_DIRECTORY_HOST=directory.example.com
BP1P_NODE_HOST=node.example.com
BP1P_NODE_NAME=My BP1P Node
BP1P_DIRECTORY_ADMIN_TOKEN=CHANGE-THIS-DIRECTORY-TOKEN
BP1P_NODE_ADMIN_TOKEN=CHANGE-THIS-NODE-TOKEN
BP1P_ALLOW_PRIVATE_UPSTREAMS=false
